<% content_for :title do %>FAQ<% end %>
<h3>Frequently Asked Questions</h3>

<p>&nbsp;</p>

<p class="lead">What is VoiceClick?</p>
<p>VoiceClick is a consulting firm focused on the development of apps for the new world of the Voice User Interface or VUI.</p>
<p>&nbsp;</p>
<p class="lead">What is a Voice User Interface or VUI?</p>
<p>The VUI is a next generation approach to user interfaces.  Just as the GUI or Graphical User Interface defined a generation of computing, so too will the VUI define the next generation of ubiquitious computing.  </p>
<p>&nbsp;</p>
<p class="lead">What types of devices currently offer a VUI?</p>
<p>Right now there are four primary VUI platforms:  </p>
<ul>
  <li>Amazon Alexa / Amazon Echo
  <li>Google Home
  <li>Microsoft Cortana
  <li>Apple Siri
</ul>
<p>While a clear winner has yet to emerge, it is our belief that the dominant player that will emerge is the Amazon Alexa / Echo.  Not only was Amazon the first mover in this space, Amazon's edge in commerce coupled with its media assets in the form of Amazon Prime give it a dramatic advantage.</p>
<p>&nbsp;</p>
<p class="lead">What is an app in a VUI world?</p>
<p>An app in a VUI world is often referred to as a <em>skill</em>.  The core idea here is that you enable your VUI device with a skill you want it to have.  Let's say, for example, that you want your Alexa device to be able to tell you a horoscope.  You would add the Horoscope skill to your Alexa device and then be able to access the skill with a verbal statement like <em>Alexa Horoscope Scorpio</em>.</p>
<p>&nbsp;</p>
<p class="lead">What is a VUI device good for?</p>
<p>Just as mobile devices provided ubiquitious access to information in an on demand fashion, we see the same thing happening with VUI devices with a particular focus on hands free computing.  Here are some of the applications that we envision happening:</p>
<ul>
  <li>Looking up of directory information</li>
  <li>Ad hoc commerce such as movie ticket purchasing</li>
  <li>Ad hoc access to reference style material</li>
  <li>Education such as drill based reinforcement</li>
  <li>Eldercare assistance; allowing a person who lives alone to register their status regularly and have an alert go to a family member if their status is stopped; think if it is server monitoring for people ;-)</li>
</ul>
<p>To be quite honest this is a brave new world of computing.  Just as the introduction of mobile devices fueled an explosion in information services driven by ubiquitous access, we see the same thing happening here.</p>
<p>&nbsp;</p>

<p class="lead">Why would I want to offer an Alexa Skill?</p>
<p>The answer here really depends on your particular business model, goals and needs.  Please feel free to reach out to us at INFO_EMAIL_ADDRESS to discuss your particular needs.</p>

<p>&nbsp;</p>
<p class="lead">Can you help us develop apps / skills for non Amazon VUI devices?</p>
<p>Absolutely.  We understand the core technologies for all the VUI plaforms.  We are simply placing our strategic bet on the device that we personally think is most likely to be the end winner.</p>
<p>&nbsp;</p>

<p class="lead">What Tools Do You Develop Skills In?</p>
<p>We use an industry standard Ruby stack to develop skills.  For performance sensitive skills we use the Elixir platform, a next generation functional programming language to provide better scalability.</p>

<p>&nbsp;</p>
<p class="lead">What skills have you developed?</p>
<p>We are currently getting our list of developed skills ready and it will be published shortly.</p>
<p>&nbsp;</p>
