    <p style="text-align:center">
<%= link_to 'Home', '/'%>&nbsp;&nbsp;&nbsp;&nbsp;
<%= link_to 'About', '/pages/about'%>&nbsp;&nbsp;&nbsp;&nbsp;
<%= link_to 'FAQ', '/pages/faq'%>&nbsp;&nbsp;&nbsp;&nbsp;
</p>